#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.info p {
  @apply my-6
}

.info ol {
  @apply px-12
}

.info ol li {
  @apply my-3
}

.slider-with-buttons button {
  @apply bg-slate-700 hover:bg-slate-600 p-4 rounded-lg
}

/* Custom Slider Styles */
.slider::-webkit-slider-thumb {
  @apply w-4 h-8 bg-blue-500 rounded-full border border-blue-400 shadow appearance-none cursor-pointer;
  -webkit-appearance: none;
  margin-top: -0.7rem
}

.slider::-moz-range-thumb {
  @apply w-6 h-6 bg-blue-500 rounded-full border border-blue-400 shadow appearance-none cursor-pointer;
}

.slider::-webkit-slider-runnable-track {
  @apply h-2 bg-gray-200 rounded-lg;
}

.slider::-moz-range-track {
  @apply h-2 bg-gray-200 rounded-lg;
}

/* You can add more styles for hover, focus, and active states */
